 {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 200vh;
  background-color: rgb(38, 0, 255);
  position: relative;
}

.box1 {
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(251, 6, 6);
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: 10;
  display: none;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
}
