#main {
  background-color: dimgrey;
  width: 100vw;
  height: 100vh;
}
.box1 {
  background-color: dodgerblue;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.box1 a {
  padding: 14px 16px;
}
.box2 {
  background-color: rgb(37, 36, 36);
  color: white;
  width: 200px;
  height: 100vh;
  float: left;
  text-align: center;
  padding-top: 20px;
}
.box2 img {
  width: 80px;
  border-radius: 50%;
}
.box3 {
  background-color: white;
  padding: 20px;
  
}
